{% extends 'base.html.twig' %}

{% block title %}Edit Bricoleurs{% endblock %}

{% block body %}
    <h1>Edit Bricoleurs</h1>

    {{ include('bricoleurs_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bricoleurs_crud_index') }}">back to list</a>

    {{ include('bricoleurs_crud/_delete_form.html.twig') }}
{% endblock %}
