<form method="post" action="{{ path('app_minuisiers_crud_delete', {'id': bricoleurs_minuisier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bricoleurs_minuisier.id) }}">
    {# <button class="btn btn-danger" style="margin-left:120px;margin-top:10px">Delete</button> #}
    <button class="btn btn-danger" style="width:150px; margin-top:10px; margin-left:80px">Delete</button>


</form>
