{% extends 'baseFront.html.twig' %}

{% block title %}Front-Home{% endblock %}

{% block body %}
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      {# <div class="play_btn">
        <a href="">
          <img src="images\play.png" alt="">
        </a>
      </div> #}
      <div class="number_box">
        <div>
          <ol class="carousel-indicators indicator-2">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            {# <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>  #}
            {# <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>  #}
          </ol>
        </div>
      </div>
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
             {# <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>  #}
             {# <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>  #}
          </ol>
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Mon Bricoleur
                    </h1>
                    <p>
                      {# Trouvez le prestataire idéal pour tous les services du quotidien    #}
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        {# Read More #}
                      </a>
                      <a href="" class="btn-2">
                        {# Contact us #}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    {# <img src="images_front/logo_images/just_logo.png" alt="">  #}
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Mon Bricoleur
                    </h1>
                    <p>
                      {# Trouvez le prestataire idéal pour tous les services du quotidien    #}
                    </p>
                    <div class="btn-box">
                      <a href="about.html" class="btn-1">
                        {# Read More #}
                      </a>
                      <a href="" class="btn-2">
                        {# Contact us #}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                  {# <img src="images_front/logo_images/just_logo.png" alt="">  #}
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Mon Bricoleur
                    </h1>
                    <p>
                      Trouvez le prestataire idéal pour tous les services du quotidien   
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="just_logo.png" alt="">
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      The Latest
                      <span>
                        Furniture
                      </span>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="just_logo.png" alt="">
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- about section -->

  <section class="about_section layout_padding" style="background-color:#F4F5F7">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>

            </div>
            <p>
            Mon Bricoleur :
             Nous Somme des spécialistes des services à domicile en ligne
            </p>
            <a href="/FrontAbout">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="Logo_mon_bricoleur_noir.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- trending section -->

  <section class="trending_section layout_padding">
    <div id="accordion">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Categories
                </h2>
              </div>
              <div class="tab_container">
                <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="number">
                    <h5>
                      01
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      plomberie 
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  <div class="number">
                    <h5>
                      02
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      Jardinage
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  <div class="number">
                    <h5>
                      03
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      Electricité
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  <div class="number">
                    <h5>
                      04
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      Démenagement
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapsefive"
                  aria-expanded="false" aria-controls="collapsefive">
                  <div class="number">
                    <h5>
                      05
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      Ménuisage
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapsesix"
                  aria-expanded="false" aria-controls="collapsesix">
                  <div class="number">
                    <h5>
                      06
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      plâtrage
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="images_front\services_images\Plombier.jpg"   alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Plombier.jpg" alt="">
                  </div>
                </div>
                <div class="box b-2">
                  <div class="img-box">
                    <img src="images_front\services_images\Plombier.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Plombier.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="images_front\services_images\Jardinier.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Jardinier.jpg" alt="">
                  </div>
                </div>
                <div class="box b-2">

                  <div class="img-box">
                    <img src="images_front\services_images\Jardinier.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Jardinier.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="images_front\services_images\Electricien.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Electricien.jpg" alt="">
                  </div>
                </div>
                <div class="box b-2">
                  <div class="img-box">
                    <img src="images_front\services_images\Electricien.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Electricien.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="images_front\services_images\Démenageur.jpg" alt="">
                  </div>

                  <div class="img-box">
                    <img src="images_front\services_images\Démenageur.jpg" alt="">
                  </div>
                </div>
                <div class="box b-2">
                  <div class="img-box">
                    <img src="images_front\services_images\Démenageur.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Démenageur.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapsefive" aria-labelledby="headingfive" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="images_front\services_images\Menuisier.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Menuisier.jpg" alt="">
                  </div>
                </div>
                <div class="box b-2">
                  <div class="img-box">
                    <img src="images_front\services_images\Menuisier.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Menuisier.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapsesix" aria-labelledby="headingsix" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="images_front\services_images\Platrier2.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Platrier2.jpg" alt="">
                  </div>
                </div>
                <div class="box b-2">

                  <div class="img-box">
                    <img src="images_front\services_images\Platrier2.jpg" alt="">
                  </div>
                  <div class="img-box">
                    <img src="images_front\services_images\Platrier2.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end trending section -->

  <!-- discount section -->

  <section class="discount_section  layout_padding" >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              Commander votre service
            </h2>
            <h2 class="main_heading">
              50% REDUCTION
            </h2>

            <div class="">
              <a href="/FrontServices">
                Commander Maintenant
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images\hero-side-bg.png" style="margin-left:115px" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end discount section -->

  <!-- brand section -->

  <section class="brand_section" style="background-color:#F4F5F7">
    <div class="container">
      <div class="heading_container">
        <h2 style="margin-top:10px">
           Services
        </h2>
      </div>
     
      <div class="brand_container layout_padding2">
       {% for service in services %}
        <div class="box">
          <a href="">
            <!-- <div class="new">
              <h5>
                New
              </h5>
            </div> -->
            <div class="img-box">
              <a href="{{ path('app_command_send', {'id': service.id}) }}" class="breadcrumb-item">
                    <img src="/uploads/{{service.image}}" alt="">				
              </a>
            </div>
            <div class="detail-box">
                <h6 class="price">
                 {{service.NameService}}
                </h6>
                <h6>
                {# {{service.discription}} #}
                <h6>
            </div>
          </a>
        </div>
        {% endfor %}
    <!-- </div>
    <a href="" class="brand-btn">
      See More
    </a>
  </div> -->
</section>

  <!-- end brand section -->
  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container ">
      <div class="heading_container">
        <h2 class="">
          Contact Us
        </h2>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Phone" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map-responsive">
              {# <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                allowfullscreen></iframe> #}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Avis de Notre Clients
        </h2>
      </div>
    </div>

    <div class="container">
      <div class="client_container layout_padding2">
        <div class="client_box b-1">
          <div class="client-id">
            <div class="img-box">
              <img src="images/client.png" style="width: 196px;height: 192px;" alt="" />
            </div>
            <div class="name">
              <h5>
                Amine
              </h5>
              <p>
                Client
              </p>
            </div>
          </div>
          <div class="detail">
            <p>
              merci beaucoup Mon Bricoleur pour votre service top top top
            </p>
            <div>
              <div class="arrow_img">
              </div>
            </div>
          </div>
        </div>
        <div class="client_box b-2">
          <div class="client-id">
            <div class="img-box">
              <img src="images\client.png" style="width: 196px;height: 192px;" alt="" />
            </div>
            <div class="name">
              <h5>
                Khalid
              </h5>
              <p>
                Client
              </p>

            </div>
          </div>
          <div class="detail">
            <p>
              Merci beaucoup Mon Bricoleur vraiment vos service est incroyable
            </p>
            <div>
              <div class="arrow_img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="client_container layout_padding2">
        <div class="client_box b-1">
          <div class="client-id">
            <div class="img-box">
              <img src="images/client.png" alt="" style="width: 196px;height: 192px;" />
            </div>
            <div class="name">
              <h5>
                Salim
              </h5>
              <p>
                Client
              </p>
            </div>
          </div>
          <div class="detail">
            <p>
              Un service vraiment trés simpa merci beaucoup pour vos préstataires
            </p>
            <div>
              <div class="arrow_img">
              </div>
            </div>
          </div>
        </div>
        <div class="client_box b-2">
          <div class="client-id">
            <div class="img-box">
              <img src="images\client.png" style="width: 196px;height: 192px;" alt="" />
            </div>
            <div class="name">
              <h5>
                Khalid
              </h5>
              <p>
                Client
              </p>

            </div>
          </div>
          <div class="detail">
            <p>
              Merci beaucoup Mon Bricoleur vraiment vos service est incroyable
            </p>
            <div>
              <div class="arrow_img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

    <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          Mon Bricoleur
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Us
            </h5>
            <div>
              <div class="img-box">
                <img src="images\location-white.png" width="18px" alt="">
              </div>
              <p>
                La Cité d'innovation MARRAKECH
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images\telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +21293399476
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images\envelope-white.png" width="18px" alt="">
              </div>
              <p>
                monbricoleur@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info" style="margin-left:100px">
            <h5>
              Informations
            </h5>
            <p>
                Nous somme les 
                meilleurs dans notre domaine
            </p>
          </div>
        </div>

        <div class="col-md-3">
            {# <div class="info_insta">
              <h5>
                Instagram
              </h5>
              <div class="insta_container">
                <div>
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="images_front\images\i-1.jpg" alt="">
                    </div>
                  </a>
                  <a href="">
                    <div class="insta-box b-2">
                      <img src="images_front\images\i-2.jpg" alt="">
                    </div>
                  </a>
                </div>

                <div>
                  <a href="">
                    <div class="insta-box b-3">
                      <img src="images_front\images\i-3.jpg" alt="">
                    </div>
                  </a>
                  <a href="">
                    <div class="insta-box b-4">
                      <img src="images_front\images\i-4.jpg" alt="">
                    </div>
                  </a>
                </div>
                <div>
                  <a href="">
                    <div class="insta-box b-3">
                      <img src="images_front\images\i-5.jpg" alt="">
                    </div>
                  </a>
                  <a href="">
                    <div class="insta-box b-4">
                      <img src="images_front\images\i-6.jpg" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div> #}
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Social Media
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="images\fb.png" alt="">
              </a>
              <a href="">
                <img src="images\twitter.png" alt="">
              </a>
              <a href="">
                <img src="images\linkedin.png" alt="">
              </a>
              <a href="">
                <img src="images\youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; 2022 Designed By
        <a href="/">Amine MAZZA</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->
{% endblock %}
