<form method="post" action="{{ path('app_command_crud_delete', {'id': command.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ command.id) }}">
    <button class="btn btn-danger" style="width:150px; margin-top:10px; margin-left:120px">Supprimer</button>
</form>
